/* odpowiada za wyzerowanie marginesów zarówno elementu html jak i body;
niektóre przeglądarki nadają własne właściwości dla tych elementów traktując je
jako najważniejsze (stąd użycie dyrektywy !important) */
html, body {
	margin: 0 !important;
	padding: 0 !important;
}
/* główny element (powierzchnia) kalkulatora; niejako nadpisuje właściwości elementu body
 - domyślnie wyśrodkowany (zapewnia margin-left/margin-right ustawiony na auto)
 - szerokość kalkulatora 30% (dzięki temu zostamnie wyśrodkowany)
 - tło ustawione w kodowaniu szesnastkowym (mocno zielony)
 - wysokość ustawiona na 70% wysokości widoku (powierzchni okna wyświetlającego stronę w przeglądarce)
 - margines górny (margin-top) ustawiony na 15% wysokości widoku (zapewnia wyśrodkowanie tła kalkulatora w pionie)
   wyliczenie na podstawie (100vh - 70vh) / 2 (standardowe wyliczenie proporcji)
 - overflow zapewnia, że elementy większe/nie mieszczące się w ustalonych ramach kalkulatora 
   nie wyświetlą się (zostaną schowane) */
#kalkulator {
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	background: #20815D;
	height: 70vh;
	overflow: hidden;
	margin-top: 15vh;
}
/* odpowiada za wygląd wyświetlacza naszego kalkulatora 
 - wysokość wyświetlacza ustalona jest na sztywno 100px
 - szerokość wynosi 95% szerokości elementu #kalkulator (nie zaś całej witryny! -> właściwość procentowej jednostki)
 - element jest wyśrodkowany poziomo
 - element posiada odbicie od góry 10px */
#wyswietlacz {
	background: #35D699;
	height: 100px;
	width: 95%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
/* ustawienie paragrafu wewnątrz elementu #wyswietlacz (dokładnie dla wszystkich elementów <p> będących dziećmi
   #wyswietlacz)
 - font ustawiony jest na wielkość 80px 
 - marginesy charakterystyczne dla elementu <p> są ustawione na 0 (domyślnie górny i dolny jest proporcjonalnie
   powiększany od wielkości fontu)
 - tekst równany jest do prawej strony (wygląda jak na kalkulatorze stacjonarnym) */
#wyswietlacz p {
	font-size: 80px;
	margin: 0;
	text-align: right;
}
/* element zbiorczy dla wszystkich klawiszy kalkulatora pozwala na lepsze wypozycjonowanie elementów
 - wszystkie elementy wystające poza klawiaturę (niemieszące się przyciski) są ukrywane
 - klawiatura ma zmienną wysokość, zajmującą cały element #kalkulator (70% wysokości widoku pomnieszone o 
   100px wysokości ekranu ORAZ 10px marginesu górnego -> stąd obliczenie 70vh - 110px zamiast 100px)
 - właściwość wyświetlania zamieniona z block na flex; pozwala to na płynne i automatyczne rozmieszczenie 
   przycisków (niweluje wszystkie niedogodności właściwości float)
 - dodatkowa właściwość flex-wrap (zawijanie elementów) ustawiona tak, by elementy, po wypełnieniu danego wiersza
   przemieszczały się do nowego wiersza. domyślnie flex wrzuciłby wszystkie elementy wewnątrz elementu flex
   w jeden wiersz (propocjonalnie jest zmniejszając). 
   
 Więcej informacji na temat flex: https://developer.mozilla.org/en-US/docs/Web/CSS/flex lub 
								  https://www.w3schools.com/css/css3_flexbox.asp */
#klawiatura {
	overflow: hidden;
	height: calc(70vh - 110px);
	display: flex;
	flex-wrap: wrap;
}
/* klasa, któa opisuje wszystkie przyciski kalkulatora;
 - przyciski posiadają obramowanie 1 px szerokości o kolorze czarnym
 - projekt zakłada 4 kolumny przycisków przez co każdy z nich powinien zajmować 25% przestrzeni klawiatury;
   użyta została funkcja calc by wyliczyć odpowiednią szerokość pomniejszoną o 2 px (z każdej strony obramowanie
   posiada 1 px co sumarycznie daje 2 px) - do ostatecznej wielkości elementów każda właściwość się sumuje!
 - wysokość, ze względy na założenie iż potrzebujemy 4 wierszy, również będzie wynosić 25%; wyliczenia używamy
   z tego samego powodu co przy szerokości;
 - zmieniamy kursor na taki, który pojawia się przy użytkowaniu odnośników
 
 UWAGA! W przypadku gdy chcemy użyć większej ilości kolumn/wierszy na przyciski należy odpowiednio zmodyfikować
 wartość procentową lub stosować działanie 100% / n gdzie n jest liczbą wierszy!
 
 Więcej o wielkościach elementów HTML: https://developer.mozilla.org/en-US/docs/Web/API/CSS_Object_Model/Determining_the_dimensions_of_elements
 https://www.w3schools.com/css/css_dimension.asp
 https://www.w3schools.com/css/css_boxmodel.asp */
.przycisk {
	background: #007046;
	overflow: hidden;
	width: calc(25% - 2px);
	height: calc(25% - 2px);
	border: 1px solid black;
	cursor: pointer;
}
/* poniższy selektor pozwala na zmianę właściwości koloru tła oraz tekstu w przypadku
   gdy użytkownik strony najedzie na przycisk kursorem myszy; właściwości zostaną zastosowane dla dwóch 
   selektorów:
   .przycisk:hover -> dla całego przycisku
   .przycisk:hover p -> dzięki temu selektorowi właściwości przypisane zostaną także paragrafowi przynależnemu
   do klasy .przycisk */
.przycisk:hover, .przycisk:hover p {
	background: #60D6A9;
	color: #007046;
}
/* właściwości opisujące paragraf umieszczony w klasie .przycisk;
   - pogrubienie czcionek ustawione na 800 oznacza pogrubienie - https://www.w3schools.com/cssref/pr_font_weight.asp
   - wysokość czcionek ustawiona na 18px
   - wyłączone domyślne marginesy 
   - tekst wyśrodkowany domyślną właściwością tekstu (text-align)
   - pionowe wyśrodkowanie poprzez nadanie odpowiedniego rozmiaru marginesu górnego:
     70vh (wysokość klawiszy) pomniejszona o 110 px (sumaryczna wysokość wyświetlacza) podzielona przez 4 (wysokość przycisku)
	 wyliczona wartość pomniejszona o 2px (wysokość obramowania przycisku) oraz 18 px (wysokość fontu)
	 całość podzielona przez 2 (równomierny rozkład wolnej przestrzeni pionowej przycisku)
	 
	 W powyższym wyliczeniu nie można korzystać z wartości procentowej (25%) wysokości przycisku gdyż NIE ODNOSI SIĘ
	 ONA DO FAKTYCZNEJ WYSOKOŚCI A JEDYNIE DO WYSOKOŚCI ELENENTU NADRZĘDENEGO (przycisku) To z kolei spodowodowałoby
	 błędne wyliczenia (i brak efektu wyśrodkowania)
	 
   - właściwość user-select pozwala na wyłączenie możliwości zaznaczania tekstu dla użytkowników strony WWW.
     niestety właściwość ta nadal znajduje się w wersji szkic (draft)/test (experimental); dlatego przeglądarki
	 mogą ją pomijać (właściwość może działać niezgodnie ze specyfikacją/strona może nie działać poprwanie);
	 Jeżeli natomiast chcemy tego typu właściwości używać pomimo tego przeglądarki oferują ją z dodatkowym
	 przedrostkiem:
	 -webkit- - dotyczy przeglądarek opartych o biblioteki Webkit (Safari, Opera > 12.x, Chromium, Vivaldi i pochodne)
	 -moz- - dotyczy wszystkich przeglądarek z bibliotekami Gecko (Firefox i pochodne)
	 -o- - dotyczy przeglądarki z silnikiem Presto (do Opera 12.x)
	 -ms- - działa dla silnika Trident (Internet Explorer/Edge)
	 
	 NA KOŃCU PODAJE SIĘ WŁAŚCIWOŚĆ BEZ PRZEDROSTKA. Dzięki temu, jeżeli żaden z przedrostków nie jest wykorzystany
	 przeglądarka spróbuje przypisać właściwość (jeżeli wartość bez przyrostka zostałaby podana jako pierwsza
	 mogłoby to spowodować błędy w interpretacji CSS) 
	 
	 Więcej o user-select: https://developer.mozilla.org/en-US/docs/Web/CSS/user-select
	 https://www.w3schools.com/cssref/css3_pr_user-select.asp */
.przycisk p {
	color: #60D6A9;
	text-align: center;
	font-weight: 800;
	font-size: 18px;
	margin: 0;
	margin-top: calc(((70vh - 110px) / 4 - 2px - 18px) / 2);
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* poniższa dyrektywa pozwala na przypisanie INNYCH WARTOŚCI dla wskazanych elementów w przypadku gdy
   spełnione zostaną określone warunki. Składnia wygląda następująco:
   @media <rodzaj_ekranu> <AND/OR> <warunek> (...)
   - rodzaj_ekranu może być np. screen (ekran), speech (mowa) bądź printer (drukarka)
   - drugim parametrem jest warunek logiczny (łączenie bądź niezależny warunek)
   - trzecim jest warunek do spełnienia 
   - nawias z kropkami symbolizuje możliwość dodawania kolejnych warunków (poz sobie)
   
   Poniższa dyrektywa mówi, że zawarte w niej selektory i właściwości mają być zastosowane dla każdego rodzaju
   ekranu (all) ORAZ w przypadku, gdy maksymalna szerokość ekranu wynosi 600px (może wynosić mniej jednak już
   600.1px nie będzie spełniać tego warunku). Dyrektywa podmienia jedynie WYMIENIONE WŁAŚCIWOŚCI (nie zaś wszystkie)
   i przywraca poprzednie gdy warunek przestaje obowiązywać!!
   
   Więcej: https://developer.mozilla.org/pl/docs/Web/CSS/Media_Queries/Using_media_queries
   https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */
@media all and (max-width: 600px) {
	#kalkulator {
		width: 100%;
		height: 100vh;
		margin-top: 0;
	}
	#klawiatura {
		height: calc(100vh - 110px);
	}
	.przycisk {
		height: calc(25% - 2px);
	}
	.przycisk p {
		margin-top: calc(((100vh - 110px) / 4 - 2px - 18px) / 2);
	}
}
/*reguły, które mogą zostać nadane przy spełnieniu warunku (obecnie puste - można samemu zmienić) */
@media all and (max-width: 320px) {

}
/*paleta kolorów użyta w tym projekcie */
/*00AC6B	20815D	007046	35D699	60D6A9*/